<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado Personas
      <ion-button>
        <ion-button (click)='listar()' slot='end'>
          <ion-icon slot='icon-only' name='list'></ion-icon>
         </ion-button>
      </ion-button>
    </ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div> 
    <ion-list>
      <div *ngFor='let item of listadoUsuarios'>
        <ion-item>
          <ion-label>{{item.name}}</ion-label>
          <ion-button [routerLink]="[ '/detalle',item.id]">DETALLE</ion-button>
        </ion-item>
      </div>
    </ion-list>
  </div> 
</ion-content>

<!-- <ion-footer> 
  <ion-toolbar>
    <ion-button>
      <ion-button (click)='listar()' slot='end'>
        <ion-icon slot='icon-only' name='list'></ion-icon>
      </ion-button>
    </ion-button>
  </ion-toolbar>
</ion-footer>  -->
